.header-area.header-sticky {
  min-height: 80px;
}
.header-area {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 80px;
  background: rgba(250, 250, 250, 0.1);
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  & .logo {
    line-height: 80px;
    color: #fff;
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    float: left;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;

    & em {
      font-style: normal;
      color: #ed563b;
      font-weight: 900;
    }
  }
  & .nav {
    margin-top: 20px !important;
    float: right;
    margin-top: 27px;
    margin-right: 0px;
    background-color: transparent;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 999;

    & ul,
    li {
      padding: 0;
      margin: 0;
      list-style: none;
      & a {
        padding-left: 20px;
        padding-right: 20px;
        color: #fff;
        text-transform: uppercase;
      }
      & .active {
        color: #ed563b;
      }
    }
  }
}
