.bg-primary {
  background: #ed563b !important;
}
.mt-6 {
  margin-top: 5rem;
}
.my-6 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.list-style-none {
  list-style: none;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
div pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
figure,
header,
nav,
section,
article,
aside,
footer,
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

a:hover {
  color: #ed563b !important;
  background: #fff !important;
}
