/**
*@format
*/
@import "./assets/style/constants.scss";

$indexes: (
  1: 1,
  10: 10,
  100: 100,
  500: 500,
  1000: 1000,
);

$positions: (
  r: relative,
  a: absolute,
  f: fixed,
  init: initial,
  i: inherit,
  rev: reverse,
  stat: static,
  s: sticky,
  u: unset,
);

$sizes: (
  6: 5rem,
  7: 6rem,
  8: 7rem,
  9: 8rem,
  10: 9rem,
  11: 10rem,
  12: 11rem,
  13: 12rem,

  21: 20rem,
);

@each $indexName, $index in $indexes {
  .up-#{$indexName} {
    z-index: $index;
  }
}
@each $positionName, $position in $positions {
  .pos-#{$positionName} {
    position: $position;
  }
}

@each $sizeValue, $size in $sizes {
  .my-#{$sizeValue} {
    margin-top: $size;
    margin-bottom: $size;
  }
}

@each $sizeValue, $size in $sizes {
  .py-#{$sizeValue} {
    padding-top: $size;
    padding-bottom: $size;
  }
}

@each $sizeValue, $size in $sizes {
  .mx-#{$sizeValue} {
    padding-left: $size;
    padding-right: $size;
  }
}
@each $sizeValue, $size in $sizes {
  .px-#{$sizeValue} {
    padding-left: $size;
    padding-right: $size;
  }
}

.bg-primary {
  background: $accent-color !important;
}

.list-style-none {
  list-style: none;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
div pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
figure,
header,
nav,
section,
article,
aside,
footer,
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

a:hover {
  color: $accent-color !important;
  background: $white !important;
}

.div {
  text-align: center;
}

::selection {
  background: $accent-color;
  color: $white;
}

h1 {
  color: $white;
}
